*{
    font-family: 'Poppins', sans-serif;
}

@tailwind base;@tailwind components;@tailwind utilities;

.paras p{
    @apply leading-relaxed;
    margin-bottom: 30px !important;
    word-break: break-all;
    font-size: 1rem;
}
.htmx-indicator{
    display:none;
}
.htmx-request .my-indicator{
    display:inline;
}
.htmx-request.my-indicator{
    display:inline;
}
.head-text{
    font-family: 'Vollkorn', serif;
}
.text{
    text-decoration: none !important;
}

.paras a{
    font-family: 'Vollkorn', serif;
    font-style: italic;
    color: #14b8a6;
}
.paras a:hover{
    text-decoration: underline;
}

.paras hr{
    margin-top: 10px ;
    margin-bottom: 20px;
}
.paras h1{
    font-size: 1.7rem;
}
.paras h2{
    font-size: 1.5rem;
}

.paras h3{
    font-size: 1.3rem;
}